<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groupie Tracker - Error</title>
    <link rel="stylesheet" type="text/css" href="/static/css/error.css" />
  </head>
  <body>
    <header>
      <nav class="header-container">
        <div class="title-container">
          <a href="/">Groupie Tracker</a>
        </div>
        <div class="search-container">
          <input type="text" placeholder="Search..." disabled />
          <svg
            class="search-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </div>
      </nav>
    </header>
    <section>
      <div class="container">
        <div class="error-content">
          <h1>500</h1>
          <p class="error-message">Internal Server Error</p>
          <p class="description">
            We are already working to solve the problem.
          </p>
          <a href="/" class="home-button">Back to Homepage</a>
        </div>
      </div>
    </section>
  </body>
</html>
