<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="icon" href="/static/img/fav.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav class="header-container">
        <div class="title-container">
          <a href="/">Groupie Tracker</a>
        </div>
        <div class="search-container">
          <input
            type="text"
            id="search-bar"
            placeholder="Search..."
            oninput="filterArtists()"
            autocomplete="off"
          />
          <svg
            class="search-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
          <div class="suggestions">
            <!-- Search suggestions will appear here -->
          </div>
        </div>
      </nav>
    </header>
    <main class="main container">
      <div class="grid" id="artist-grid">
        {{ if . }} {{ range . }}
        <a
          href="/details/{{.Id}}"
          class="artist-card"
          data-id="{{.Id}}"
          data-name="{{.Name}}"
          data-members="{{range $index, $member := .Members}}{{if $index}},{{end}}{{$member}}{{end}}"
          data-locations="{{range $index, $location := .Locations}}{{if $index}},{{end}}{{$location}}{{end}}"
          data-firstalbum="{{.FirstAlbum}}"
          data-creationdate="{{.CreationDate}}"
        >
          <img src="{{.Image}}" alt="{{.Name}}'s image" />
          <h2>{{.Name}}</h2>
          <div>
            <p>First Album: {{.FirstAlbum}}</p>
            <p>Creation Date: {{.CreationDate}}</p>
          </div>
        </a>
        {{ end }} {{ else }}
        <p>No results found.</p>
        {{ end }}
      </div>
      <!-- Pagination Controls -->
      <div class="pagination">
        <button id="prev-page" onclick="changePage(-1)" disabled>
          Previous
        </button>
        <span id="page-info"></span>
        <button id="next-page" onclick="changePage(1)">Next</button>
      </div>
    </main>
    <script src="../static/js/script.js"></script>
  </body>
</html>